@import "null_style.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

$button__color: rgb(255, 47, 0);
$button__color-hover: rgb(208, 3, 0);
$button__color-active: rgb(163, 11, 9);

body{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.wrapper{
    height: 100vh;
}
.button-1 {
    background: none !important;
    color: $button__color;
}
.button-2 {
    background-color: $button__color;
    color: #fff;
}
.button{
    font-size: 4vw;
    border: 2px solid $button__color;
    padding: 1.5vw 4vw;
    border-radius: 15px;
    margin:  2vw 1vw;
    font-weight: bold;
    width: 100%;
    transition: 0.3s ease;
    &:hover{
        background-color: $button__color-hover !important;
        color: #fff;
    }
    &:active{
        background-color: $button__color-active !important;
    }
}
.item__buttons{
   flex: 1 1 auto;
}
.item__title {
    font-size: 4vw;
    font-weight: bolder;
    cursor: pointer;
    color: #000;
    &:hover{
        color: #000;
    }
    &:active{
        color: gray;
    }
}
.item__subtitle {
    font-size: 3.5vw;
    cursor: pointer;
    color: #000;
    &:hover{
        color: #000;
    }
    &:active{
        color: gray;
    }
}
.item__price {
    font-size: 6vw;
    font-weight: bold;
    color: $button__color;
}
.item__amount {
    font-size: 3.5vw;
}
.item__arrow{
    svg{
        width: 5vw;
        height: 5vw;
    }
}
.carousel-indicators{
    bottom: -5vw !important;
    button{
        width: 2.5vw !important;
        height: 2.5vw !important;
        border-radius: 50% !important;
    }
}
.active{
    background-color: $button__color !important;
}

@media (min-width: 425px) {
    .carousel-indicators{
        bottom: 0 !important;
    }
}